.header {
  background: white;
  padding: 22px 0;
  box-shadow: 0 4px 20px rgba(0,0,0,0.04);

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 28px;
    font-weight: 800;
    color: $dark;

    span {
      color: $primary;
    }
  }

  .nav a {
    margin-left: 24px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s;

    &:hover {
      color: $primary;
    }
  }
}