@use "../abstract/mixins";

.container{
    width: 90%;
}

@include mixins.madia-sm{
    .container{
        width: 600px;
    }
}

@include mixins.madia-md{
    .container{
        width: 700px;
    }
}

@include mixins.madia-lg{
    .container{
        width: 900px;
    }
}

@include mixins.madia-xl{
    .container{
        width: 1000px;
    }
}
