@use "../page/variables";
@use "../page/functions";
@use "../page/mixins";

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: variables.$primary-color;

    &__brand{
        font-size: 36px;
        color: functions.set-text-color(variables.$primary-color);
    }
}

.nav-menu{
    display: none;
    align-items: center;
    list-style: none;

    &__item{
        padding: 10px 20px;
    }

     &__link{
        color: functions.set-text-color(variables.$primary-bg-  color);
     }
}

@include mixins.madia-sm{
    .nav-menu{
        display: flex;
    }
}
